# This file should not be checked into VCS in a real project
# Provide your actual connection string here
atlas_uri = "mongodb+srv://<USER>:<PASS>@<cluster>.mongodb.net/sample_training?retryWrites=true&w=majority"
